<div class="confirm-delete-modal js-confirm-delete-modal">
    <div class="confirm-delete-modal__content">
        <span class="confirm-delete-modal__close-btn">
            <i class="fas fa-times js-confirm-delete-modal-close-btn__icon"></i>
        </span>
        <div class="container container--clear">
            <p>Are you sure you want to delete this story? This action cannot be undone.</p>
            <form class ="form--inline-block" method="post" action="/stories/{{story._id}}?_method=DELETE">
                <button type="submit" class="btn btn-secondary confirm-delete-modal__choice-btn confirm-delete-modal__choice-btn--yes">Yes</button>
            </form>
            <button type="button" class="btn btn-light confirm-delete-modal__choice-btn confirm-delete-modal__choice-btn--no js-confirm-delete-modal__choice-btn--no">No</a>
        </div>

    </div>
</div>