<div class="login-modal js-login-modal">
    <div class="login-modal__content">
        <span class="login-modal__close-btn">
            <i class="fas fa-times js-close-btn__icon"></i>
        </span>
        <p class="login-modal__p">Log in to StoryBooks</h1>
        <a href="/auth/google" class="btn btn-secondary third-party-login-btn third-party-login-btn--modal"><i class="fa fa-google" style="margin-right: 10px;"></i>Login with Google</a>
    </div>
</div>