<div class="login-modal js-login-modal">
    <div class="login-modal__content">
        <span class="login-modal__close-btn">
            <i class="fas fa-times js-login-modal-close-btn__icon"></i>
        </span>
        <div class="container container--clear">
            <p class="login-modal__p">Log in to Newt</p>
            <a href="/auth/google" class="btn btn-secondary third-party-login-btn third-party-login-btn--modal"><i class="fa fa-google" style="margin-right: 10px;"></i>Login with Google</a>
        </div>
    </div>
</div>