    {{#if user}}
    <nav class="navbar navbar-expand-lg navbar-light mb-3 pb-5">
    <div class="container-fluid">
    {{else}}
    <nav class="navbar navbar-expand-lg navbar-light mb-3 border-bottom">
    <div class="container">
    {{/if}}
        <a href="/"><span class="navbar-brand mb-0 h1 navbar__brand--colored">StoryBooks</span></a>
        {{!-- ARIA attributes for accessibility: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA --}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link--color" href="/stories">Browse stories</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link nav-link--color">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/stories/my" class="nav-link nav-link--color">My stories</a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/logout" class="nav-link nav-link--color">Log out</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link--color" id="js-navbar__login-btn">Log in</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>