<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="card">
            <div class="card-header card-header--plain">
                Story details
            </div>
            <div class="card-body">
                <form action="/stories" method="post" id="js-add-story-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="title" placeholder="Title" value="" required>
                    </div>
                    <div class="form-group">
                        <input name="story" type="hidden">
                        <div id="editor-container" class="editor-container--height"></div>
                    </div>
                    <div class="form-group mt-4 mb-4">
                        <label for="status">Status</label>
                        <select id="status" class="form-control" required>
                            <option selected>Public</option>
                            <option>Private</option>
                        </select>
                    </div>
                    <div class="form-group form-check mt-4 mb-4">
                        <input type="checkbox" class="form-check-input" id="comments" checked="checked">
                        <label class="form-check-label" for="comments">Allow comments</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn--main-green-color">Publish</button>
                </form>
            </div>
        </div>
    </div>
</div>