<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="card">
            <div class="card-header card-header--plain">
                Story details
            </div>
            <div class="card-body">
                <form method="post" action="/stories/{{story._id}}?_method=PUT">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Title" value="{{story.title}}" required>
                    </div>
                    <div class="form-group">
                        <input name="storyText" type="hidden">
                        <input name="storyDelta" type="hidden">
                        <div id="js-editor-container" class="editor-container--height">{{{story.bodyText}}}</div>
                    </div>
                    <div class="form-group mt-4 mb-4">
                        <label for="status">Status</label>
                        {{#select story.status}}
                            <select name="status" class="form-control" required>
                                <option value="public" selected>Public</option>
                                <option value="private">Private</option>
                            </select>
                        {{/select}}
                    </div>
                    <div class="form-group form-check mt-4 mb-4">
                        <input type="checkbox" class="form-check-input" name="allowComments" {{#if story.allowComments}}checked="checked"{{/if}}>
                        <label class="form-check-label" for="allowComments">Allow comments</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn--main-green-color">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>