{{#each stories}}
    <div class="col-sm-12 col-md-10 offset-md-1">
        <div class="card mb-4">
            <div class="card-body card-body--story-summary">
                <h5 class="card-title">
                    {{title}}
                    <a href="/stories/show/{{_id}}" class="a--default-style-removed"></a>
                </h5>
                {{!-- card-text--truncate fade effect reference: https://stackoverflow.com/questions/22666063/how-to-fade-the-edge-of-a-div-with-just-css --}}
                <div class="card-text card-text--truncate">
                    {{{bodyText}}}
                </div>
            </div>
        </div>
    </div>
{{/each}}