:root {
    --main-green-color: #00c853;
    --main-grey-color: #6b787f;
    --grey-background-color: #f5f5f5;
    --danger-color: #d73a49;
}

.navbar__brand--colored {
    color: var(--main-green-color) !important;
}

.btn--main-green-color {
    background-color: var(--main-green-color) !important;
    border: 0px;
}

.card-header--plain {
    background-color: white;
}

.third-party-login-btn {
    background-color: #00c853; 
    border: 0px;
}

.third-party-login-btn__icon--right-margin {
    margin-right: 10px;
}

.login-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.45);
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
}

.login-modal__content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    border: none;
    padding: 20px 0px 25px 0px;
}

.login-modal__p {
    font-size: 1.1rem;
    text-align: center;
}

.third-party-login-btn--modal {
    width: 70%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.login-modal__close-btn {
    font-size: 18px;
    position: relative;
    top: -10px;
    left: 15px;
    cursor: pointer;
}

.nav-link--color {
    color: #343a40 !important;
}

.nav-link--color:hover {
    color: var(--main-green-color) !important;
}

.editor-container--height {
    height: 375px !important;
}

.card-text--truncate {
    position: relative;
    min-height: 75px;
    max-height: 150px;
    overflow: hidden;
}

.card-text--truncate:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
    pointer-events: none;
}

.card__section-divider {
    margin-top: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    margin-left: -20px;
    margin-right: -20px;
}

.card__section {
    padding: 30px;
}

.card-title--font-size {
    font-size: 2.2rem;
}

.section__title {
    font-size: 1.2rem;
}

.card__icons {
    font-size: 1.1rem;
}

.card__section-divider--clear {
    clear: both;
}

.card__individual_icon {
    margin-right: 15px;
}

.card__p {
    display: inline-block;
}

.user-section {
    padding: 15px;
}

.user-section__avatar {
    height: 40px;
}

.user-section__username {
   display: inline-block;
   margin: 0px 5px; 
}

.user-section__follow-btn {
    background-color: var(--main-green-color);
    border: 0px;
    border-radius: 20px;
    margin: 15px 0px;
    width:100%;
    font-size: 0.85rem;
}

.a--default-style-removed {
    text-decoration: none !important;
    color: unset !important;
}

.container-fluid--use-viewport-height {
    min-height: 100vh;
}

.container-fluid--grey-background {
    background-color: var(--grey-background-color);
}

.container-fluid--dashboard-header-image {
    height: 300px;
}

.container--top-padding-compensation {
    margin-top: -3rem;
}

.dashboard__user-avatar {
    height: 85px;
    margin-top: -20px;
}

.dashboard__user-name {
    display: inline-block;
    font-size: 1.3em;
    padding: 15px 0px;
}

.dashboard__follow-btn {
    background-color: var(--main-green-color);
    border: 0px;
    border-radius: 20px;
    margin: 15px 0px;
    font-size: 0.85rem;
    width: 135px;
}

.card-header__dashboard {
    background-color: white;
    border: none;
}

.sub-nav-menu--link {
    color: var(--main-grey-color);
}

.sub-nav-menu--link:hover {
    color: black;
}

.sub-nav-menu--active {
    color: black;
    font-weight: 500;
    border-bottom: 4px solid var(--main-green-color);
}

.card__icons--edit {
    display: block;
    text-align: right;
}

.user-section__action-text {
    font-size:  1rem;
    font-weight: unset;
    display: inline-block;
}

.user-section__action-edit:hover {
    color: var(--main-green-color);
}

.user-section__action-delete:hover {
    cursor: pointer;
    color: var(--danger-color);
}

.confirm-delete-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.45);
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
}

.confirm-delete-modal__content {
    position: absolute;
    top: 20%; left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    border: none;
    padding: 20px 0px 25px 0px;
    font-size: 0.95rem;
}

.confirm-delete-modal__close-btn {
    font-size: 18px;
    position: relative;
    cursor: pointer;
    float: right;
    right: 15px;
    top: -10px;
}

.container--clear {
    clear: both;
}

.confirm-delete-modal__choice-btn {
    font-size: 0.9em;
    border: none;
    width: 85px;
    margin-right: 10px;
}

.confirm-delete-modal__choice-btn--yes {
    background-color: var(--danger-color);
}

.confirm-delete-modal__choice-btn--no {
    background-color: #ececec;
}

.form--inline-block {
    display: inline-block;
}

.comment {
    margin: 25px 0px;
}

.comment__avatar {
    height: 30px;
}

.comment__send-btn {
    float: right;
    margin-top: 10px;
}

.comment__textarea {
    min-height: 5em;
    max-height: 50vh;
}

.card-section--remove-bottom-padding {
    padding-bottom: 0px;
}

.card__avatar {
    height: 20px;
    margin-left: 5px;
}

.card-text__a {
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}

.card-text__a:hover {
    font-weight: 600;
}

.card-body--story-summary:hover {
    box-shadow: 0 0 0 1px rgba(107,120,127,0.5);
}

.card-body--story-summary:focus-within {
    box-shadow: 0 0 0 1px rgba(107,120,127,0.5);
}

.comment__h5 {
    font-size: 1rem;
}