:root {
    --main-green-color: #00c853;
    --main-grey-color: #6b787f;
    --grey-background-color: #f5f5f5;
}

.navbar__brand--colored {
    color: var(--main-green-color) !important;
}

.btn--main-green-color {
    background-color: var(--main-green-color) !important;
    border: 0px;
}

.card-header--plain {
    background-color: white;
}

.third-party-login-btn {
    background-color: #00c853; 
    border: 0px;
}

.third-party-login-btn__icon--right-margin {
    margin-right: 10px;
}

.login-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.45);
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
}

.login-modal__content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: white;
    border: none;
    padding: 20px 0px 25px 0px;
}

.login-modal__p {
    font-size: 1.1rem;
    text-align: center;
}

.third-party-login-btn--modal {
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.login-modal__close-btn {
    font-size: 18px;
    position: relative;
    top: -10px;
    left: 15px;
}

.nav-link--color {
    color: #343a40 !important;
}

.nav-link--color:hover {
    color: var(--main-green-color) !important;
}

.editor-container--height {
    height: 375px !important;
}

.card-text--truncate {
    position: relative;
    min-height: 75px;
    max-height: 150px;
    overflow: hidden;
}

.card-text--truncate:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
    pointer-events: none;
}

.card__section-divider {
    margin-top: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    margin-left: -20px;
    margin-right: -20px;
}

.card__section {
    padding: 30px;
}

.card-title--font-size {
    font-size: 2.2rem;
}

.section__title {
    font-size: 1.2rem;
}

.card__icons {
    font-size: 1.1rem;
    /* float: right; */
}

.card__section-divider--clear {
    clear: both;
}

.card__individual_icon {
    margin-right: 15px;
}

.card__p {
    display: inline-block;
}

.user-section {
    padding: 15px;
}

.user-section__avatar {
    height: 40px;
}

.user-section__username {
   display: inline-block;
   margin: 0px 5px; 
}

.user-section__follow-btn {
    background-color: var(--main-grey-color);
    border: 0px;
    border-radius: 20px;
    margin: 15px 0px;
    width:100%;
    font-size: 0.85rem;
}

.a--default-style-removed {
    text-decoration: none !important;
    color: unset !important;
}

.container-fluid--use-viewport-height {
    min-height: 100vh;
}

.container-fluid--grey-background {
    background-color: var(--grey-background-color);
}